version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: bookstore_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${DB_NAME:-bookstore}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: