<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: header_css}"></head>
<body class="bg-light">

<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">

    <div class="card shadow-lg" style="max-width: 400px; width: 100%; border-radius: 10px;">
        <div class="card-body p-5">
            <h3 class="card-title text-center mb-4 font-weight-bold">Reset Password</h3>

            <form th:action="@{/password/reset}" th:object="${passwordResetDTO}" method="post">

                <input type="hidden" th:field="*{token}">
                <input type="hidden" th:field="*{email}">

                <div class="mb-3">
                    <label class="form-label text-secondary small">New Password</label>
                    <div class="input-group">
                        <span class="input-group-text bg-white"><i class="bi bi-lock"></i></span>

                        <input type="password"
                               th:field="*{newPassword}"
                               class="form-control"
                               th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid'"
                               placeholder="Min 8 chars, 1 Upper, 1 Lower, 1 Number">

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                            Password Error
                        </div>
                    </div>
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-success btn-lg">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>